#account {
  @include block;
  
  ul {
    @include list-inline;
    
    li {
      width: 18%;
      margin-right: 2%;
      text-align: center;
      vertical-align: top;
      
      span {
        font-size: large;
        font-weight: bold;
        display: block;
      }
    }
    li.last {
      margin-right: 0;
    }
  }
}
