/* Single article
*/

html {
  body.single {
    .container {
      #content {        
        article {      
          .entry {
            .featured-image {
              @include box-shadow;
            }
            .thumbs {
              @include block;
              display: block;
              
              .item {
                @include thumbnail;
              }
            }
            .shopping {
              position: relative;
              top: -35em;
              left: 15%;
            }
            .excerpt {
              @include hidden;
            }
            .body {
              @include block;
              display: block;
              
              @include article-body;
            }
          }    
        }
      }  
      
      #shopping-info {
        @include col(20%, 0, 0);
        display: block;
      }
      
      .product-scroller {
        @include hidden;
      }
      
      #sidebar {
        @include hidden;
      }
    }
  }
}





/* Articles on index page
*/


/* Icons */
html {
  body {
    .container {
      #content { 
        article.icons {
          width: 20%;
          height: 13em;
          margin: 0 5% 20em 0;
          float: left;
          
          @include box-shadow;
          
          header {
            position: relative;
            top: 13em;
            h1 {
              font-size: 100%;
            }
          }
          
          .entry {
            position: relative;
            top: -2em;
          
            .featured-image {
              text-align: center;
              
              img {
                max-height: 7em;
              }
            }
            .thumbs {
            
            }
            .shopping {
              position: relative;
              top: 8em;
            }
            .excerpt {
              display: none;
            }
            .body {
            
            }
          }
        }
          
        .product-scroller.icons {
          @include hidden;
        }        
      }
    }
  }
}   





/* List */
html {
  body {
    .container {
      #content { 
        article.list {
          width: 60%;
          height: 31em;
          margin: 0 0 5em;
          float: left;
          
          @include box-shadow;
          
          header {
            position: relative;
            left: 105%;
            width: 70%;
            float: left;
            
            h1 {
              padding-left: $pad/4;
            }
          }
          
          .entry {
            .featured-image {
              text-align: center;
              
              img {
                max-height: 20em;
              }
            }
            .thumbs {
            
            }
            .shopping {
              position: relative;
              left: 105%;
              top: -$pad*3;
              width: 70%;
              float: left;
            }
            .excerpt {
              position: relative;
              left: 105%;
              top: -25em;
              width: 70%;
              float: left;
            }
            .body {
            
            }
          }
        }
          
        .product-scroller.list {
          @include hidden;
        }        
      }
    }
  }
}   



/* Mixed */
html {
  body {
    .container {
      #content { 
        article.mixed {
          width: 60%;
          height: 31em;
          margin-right: 2%;
          float: left;
          
          @include box-shadow;
          
          header {
            position: relative;
            z-index: 1;
            top: 24.6em;
            background: #eee;
            opacity: .7;
            
            h1 {
              padding-left: $pad/4;
            }
          }
          
          .entry {
            position: relative;
            top: -6.4em;
            
            .thumbs {
            
            }
            .shopping {
              position: relative;
              top: 6em;
              float: right;
              margin-right: $pad/2;
              z-index: 2;
              
              background: #eee;
              opacity: .7;
            }
            .excerpt {
              position: relative;
              top: $pad*4;
              padding-left: $pad/2;
            }
            .body {
            
            }
          }
        }
        
        article.mixed.not-first {
          width: 15%;
          height: auto;
          float: left;
          padding: 1%;
          margin: 0 2% 5% 0;
          
          header {
            display: none;
          }
          .entry {
            top: 0;
            
            .shopping {
              display: none;
            }
            .excerpt {
              display: none;
            }
          }
        }
        article.mixed.odd {
          margin-right: 0;
        }
        article.mixed.count-8,
        article.mixed.count-9,
        article.mixed.count-10 {
          @include hidden;
        }
        
          
        .product-scroller.mixed {
          font-size: 4em;  
          position: relative;
          cursor: pointer;
          width: 10%;
          height: 0;
        }
        #product-scroll-left.mixed {
          left: 68%;
        }
        #product-scroll-right.mixed {
          left: 88%;
        }
      }
    }
  }
}   


/* Large */
html {
  body {
    .container {
      #content { 
        article.large {
          height: 40em;
          @include box-shadow;
          
          header {
            position: relative;
            z-index: 1;
            top: 33.6em;
            background: #eee;
            opacity: .7;
            
            h1 {
              padding-left: $pad/4;
            }
          }
          
          .entry {
            position: relative;
            top: -2em;
            
            
            .thumbs {
            
            }
            .shopping {
              position: relative;
              top: -2.85em;
              float: right;
              margin-right: $pad/2;
              z-index: 2;
              
              background: #eee;
              opacity: .7;
            }
            .excerpt {
              position: relative;
              top: -$pad;
              padding-left: $pad/2;
            }
            .body {
            
            }
          }
        }
        article.large.not-first {
          display: none;
        }

        .product-scroller.large {
          font-size: 4em;  
          position: relative;
          top: -6em;
          cursor: pointer;
          width: 10%;
          height: 0;
        }
        #product-scroll-left.large {
          left: 1%;
        }
        #product-scroll-right.large {
          left: 96%;
        }
      }
    }
  }
}   

