/* line 3, cart.scss */
form.addtocart fieldset legend {
  display: none;
}
/* line 8, cart.scss */
form.addtocart fieldset .sgloptiondetails .sgloption {
  display: none;
}
/* line 13, cart.scss */
form.addtocart fieldset .qty {
  display: none;
}
