form.addtocart {
  fieldset {
    legend {
      display: none;
    }
    
    .sgloptiondetails {
      .sgloption {
        display: none;
      }
    }
    
    .qty {
      display: none;
    }
  }
}
