html {
  body {
    .container {
      width: 90%;
      margin: 0 auto;
      @include respond-to(mobile) { width: 98%; }
      @include respond-to(smartphone) { width: 96%; }
      
      header {
        position: static;
        
        #logo {
          height: $pad2 * 7;
          width: $pad2 * 24 - $pad4; /* an extra space must be add */
          .cell {
            width: $pad2;
            height: $pad2;
            float: left;
          }
          .small {
            width: $pad2 / 2;
          }
          .set {
            background: black;
          }
        }
        
        nav {
          h3 {
            display: none;
          }
        }
        aside {
          @include z-index(1, 10em);
          
          ul {            
            li {
              .title {
                @include text-underlined;
              }              
              ul {
                @include hidden;
                li {
                  @include text-underlined;                
                }                
              }
            }
          }
        }
      }
    }
  }
}
