html {
  body {
    .container {
      width: 90%;
      margin: 0 auto;
      @include respond-to(mobile) { width: 98%; }
      @include respond-to(smartphone) { width: 96%; }
      
      header {
        position: static;
        
        nav {
          h3 {
            display: none;
          }
        }
        aside {
          @include z-index(1, 10em);
          
          ul {            
            li {
              .title {
                @include text-underlined;
              }              
              ul {
                @include hidden;
                li {
                  @include text-underlined;                
                }                
              }
            }
          }
        }
      }
    }
  }
}
