
/* Set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
@mixin z-index($level, $height) {
  position: relative;
  z-index: $level;
  height: $height;
}


/* Rotate
*/
@mixin rotate($deg, $value) {
  -moz-transform: rotate($deg);  
  -webkit-transform: rotate($deg); 
  -o-transform: rotate($deg);
  -ms-transform: rotate($deg);
  filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}

/* underline a text with padding and margin
*/
@mixin text-underlined {
  margin-bottom: $pad2;
  padding-bottom: $pad2;
  border-bottom: 1px solid;
}


/* make cursor to be pointer
*/
@mixin pointer {
  cursor: pointer;
}
.j-toggle {
  cursor: pointer;
}


/* List, inline 
*/

@mixin list-inline {
  display: block;
  margin: 0;
  li {
    display: inline-block;
    list-style-type: none;
    margin-left: 0;
  }
}

/* make a column 
*/
@mixin col($width, $margin_left, $margin_right) {
  width: $width;
  margin: 0 $margin_right 0 $margin_left;
  float: left;
}


/* hide an element 
*/
@mixin hidden {
  display: none;
}
.hidden {
  display: none;
}


/* block element -- full size
*/
@mixin block {
  width: 100%;
  float: left;
}
