/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography
*/
/* Traditional, em from http://lamb.cc/typograph/ */
/* line 5, typography.scss */
body {
  font-size: 100%;
  line-height: 1.25;
}

/* line 6, typography.scss */
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 7, typography.scss */
h1 {
  font-size: 1.5em;
  padding: 1.45833em 0;
}

/* line 8, typography.scss */
h2 {
  font-size: 1.33333em;
  padding: 1.25em 0;
}

/* line 9, typography.scss */
h3 {
  font-size: 1.16667em;
  padding: 1.51785em 0;
}

/* line 11, typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 14, typography.scss */
h4 {
  font-variant: small-caps;
}

/* Set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* line 31, mixins.scss */
.j-toggle {
  cursor: pointer;
}

/* hide an element 
*/
/* line 41, mixins.scss */
.hidden {
  display: none;
}

/* line 3, header.scss */
html body .container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 319px) {
  /* line 3, header.scss */
  html body .container {
    width: 98%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /* line 3, header.scss */
  html body .container {
    width: 96%;
  }
}
/* line 9, header.scss */
html body .container header {
  position: static;
}
/* line 13, header.scss */
html body .container header nav h3 {
  display: none;
}
/* line 17, header.scss */
html body .container header aside {
  position: relative;
  z-index: 1;
  height: 10em;
}
/* line 22, header.scss */
html body .container header aside ul li .title {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
}
/* line 25, header.scss */
html body .container header aside ul li ul {
  display: none;
}
/* line 27, header.scss */
html body .container header aside ul li ul li {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
}

/* line 4, content.scss */
html body .container #content {
  position: static;
}
