/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../.rvm/gems/ruby-1.9.3-p0/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Typography
*/
/* Traditional, em from http://lamb.cc/typograph/ */
/* line 5, typography.scss */
body {
  font-size: 100%;
  line-height: 1.25;
}

/* line 6, typography.scss */
h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

/* line 7, typography.scss */
h1 {
  font-size: 1.5em;
  padding: 1.45833em 0;
}

/* line 8, typography.scss */
h2 {
  font-size: 1.33333em;
  padding: 1.25em 0;
}

/* line 9, typography.scss */
h3 {
  font-size: 1.16667em;
  padding: 1.51785em 0;
}

/* line 11, typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 14, typography.scss */
h4 {
  font-variant: small-caps;
}

/* Site specific mixins
*/
/* display post thumbnails 
*/
/* display post description
*/
/* General mixins
*/
/* invert color with background
*/
/* set z-index

- parent must have set 'position'
- this element must have set weight
- http://www.tjkdesign.com/articles/z-index/teach_yourself_how_elements_stack.asp

*/
/* rotate
*/
/* underline a text with padding and margin
*/
/* make cursor to be pointer
*/
/* line 80, mixins.scss */
.j-toggle {
  cursor: pointer;
}

/* list, inline 
*/
/* make a column 
*/
/* box-shadow
*/
/* make image fit within container
*/
/* hide an element 
*/
/* line 128, mixins.scss */
.hidden {
  display: none;
}

/* block element -- expand something full size inside a container
*/
/* line 3, header.scss */
html body .container {
  width: 90%;
  margin: 0 auto;
}
@media only screen and (max-width: 319px) {
  /* line 3, header.scss */
  html body .container {
    width: 98%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 640px) {
  /* line 3, header.scss */
  html body .container {
    width: 96%;
  }
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 3, header.scss */
  html body .container {
    width: 96%;
  }
}
/* line 10, header.scss */
html body .container header {
  position: static;
  width: 100%;
  float: left;
}
/* line 14, header.scss */
html body .container header hgroup {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
}
/* line 17, header.scss */
html body .container header hgroup h1 {
  display: none;
}
/* line 20, header.scss */
html body .container header hgroup h2 {
  display: none;
}
/* line 23, header.scss */
html body .container header hgroup #logo {
  height: 4.375em;
  width: 14.688em;
  /* an extra space must be add */
}
/* line 26, header.scss */
html body .container header hgroup #logo .cell {
  width: 0.625em;
  height: 0.625em;
  float: left;
}
/* line 31, header.scss */
html body .container header hgroup #logo .small {
  width: 0.313em;
}
/* line 34, header.scss */
html body .container header hgroup #logo .set {
  background: black;
}
/* line 39, header.scss */
html body .container header nav {
  width: 40%;
  margin: 0 10% 0 10%;
  float: left;
}
/* line 42, header.scss */
html body .container header nav h3 {
  display: none;
}
/* line 46, header.scss */
html body .container header nav #search {
  margin-bottom: 3.125em;
}
/* line 50, header.scss */
html body .container header nav #search form input[type="text"] {
  width: 21.6em;
}
@media only screen and (min-width: 641px) and (max-width: 1024px) {
  /* line 50, header.scss */
  html body .container header nav #search form input[type="text"] {
    width: 15.4em;
  }
}
/* line 55, header.scss */
html body .container header nav #search form ul {
  display: none;
  margin: 1.25em 0;
}
/* line 61, header.scss */
html body .container header nav ul#categories {
  display: block;
  margin: 0;
}
/* line 90, mixins.scss */
html body .container header nav ul#categories li {
  display: inline-block;
  list-style-type: none;
  margin-left: 0;
}
/* line 63, header.scss */
html body .container header nav ul#categories li {
  margin-right: 5%;
}
/* line 65, header.scss */
html body .container header nav ul#categories li span {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
}
/* line 69, header.scss */
html body .container header nav ul#categories li.last {
  margin-right: none;
}
/* line 74, header.scss */
html body .container header aside {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  position: relative;
  z-index: 1;
  height: 10em;
}
/* line 78, header.scss */
html body .container header aside h3 {
  display: none;
}
/* line 84, header.scss */
html body .container header aside ul li .title {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
}
/* line 87, header.scss */
html body .container header aside ul li ul {
  display: none;
}
/* line 89, header.scss */
html body .container header aside ul li ul li {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
}

/* line 4, index.scss */
html body .container #shopping-info {
  display: none;
}
/* line 9, index.scss */
html body .container #product-info.large,
html body .container #product-info.list {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  position: relative;
  z-index: 2;
  display: none;
}
/* line 15, index.scss */
html body .container #product-info.large h3,
html body .container #product-info.list h3 {
  display: none;
}
/* line 18, index.scss */
html body .container #product-info.large .close,
html body .container #product-info.list .close {
  float: right;
  color: white;
  background: black;
  cursor: pointer;
  padding: 0 0.313em;
}
/* line 24, index.scss */
html body .container #product-info.large .thumbs,
html body .container #product-info.list .thumbs {
  width: 100%;
  float: left;
  margin-bottom: 2.5em;
}
/* line 28, index.scss */
html body .container #product-info.large .thumbs .item,
html body .container #product-info.list .thumbs .item {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0.313em 0.625em 0;
  border: 1px solid;
}
/* line 19, mixins.scss */
html body .container #product-info.large .body h3,
html body .container #product-info.list .body h3 {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
}
/* line 24, mixins.scss */
html body .container #product-info.large .body .pane,
html body .container #product-info.list .body .pane {
  display: none;
}
/* line 39, index.scss */
html body .container #product-info.mixed {
  width: 56.6%;
  margin: 0 0 0 0;
  float: left;
  height: 40em;
  position: relative;
  top: -34em;
  float: right;
  z-index: 2;
  background: white;
  display: none;
}
/* line 49, index.scss */
html body .container #product-info.mixed h3 {
  display: none;
}
/* line 52, index.scss */
html body .container #product-info.mixed .close {
  float: right;
  color: white;
  background: black;
  cursor: pointer;
  padding: 0 0.313em;
}
/* line 58, index.scss */
html body .container #product-info.mixed .thumbs {
  width: 98%;
  float: left;
  margin: 0 1% 2.5em;
}
/* line 63, index.scss */
html body .container #product-info.mixed .thumbs .item {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0.313em 0.625em 0;
  border: 1px solid;
}
/* line 68, index.scss */
html body .container #product-info.mixed .body {
  width: 98%;
  margin: 0 1%;
  float: left;
}
/* line 19, mixins.scss */
html body .container #product-info.mixed .body h3 {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
}
/* line 24, mixins.scss */
html body .container #product-info.mixed .body .pane {
  display: none;
}
/* line 78, index.scss */
html body .container #sidebar {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
}
/* line 81, index.scss */
html body .container #sidebar h3 {
  display: none;
}
/* line 86, index.scss */
html body .container #sidebar #switch-view li {
  display: none;
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
}
/* line 90, index.scss */
html body .container #sidebar #switch-view li span {
  display: none;
}
/* line 94, index.scss */
html body .container #sidebar #switch-view li.active {
  display: block !important;
}
/* line 96, index.scss */
html body .container #sidebar #switch-view li.active span {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=$value);
  display: inline-block;
  float: right;
}
/* line 103, index.scss */
html body .container #sidebar #categories {
  margin-top: 12.5em;
}
/* line 105, index.scss */
html body .container #sidebar #categories li {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
}
/* line 108, index.scss */
html body .container #sidebar #categories li.active {
  color: white;
  background: black;
  padding-top: 0.625em;
}
/* line 115, index.scss */
html body .container #content {
  position: static;
  width: 70%;
  margin: 0 10% 0 0;
  float: left;
}
/* line 120, index.scss */
html body .container #content .entry .featured-image {
  cursor: pointer;
}
/* line 124, index.scss */
html body .container #content .entry .thumbs {
  display: none;
}
/* line 128, index.scss */
html body .container #content .entry .body {
  display: none;
}

/* Single article
*/
/* line 10, article.scss */
html body.single .container #content article .entry .featured-image {
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
/* line 13, article.scss */
html body.single .container #content article .entry .thumbs {
  width: 100%;
  float: left;
  display: block;
}
/* line 17, article.scss */
html body.single .container #content article .entry .thumbs .item {
  width: 100px;
  height: 100px;
  float: left;
  margin: 0 0.313em 0.625em 0;
  border: 1px solid;
}
/* line 21, article.scss */
html body.single .container #content article .entry .shopping {
  position: relative;
  top: -35em;
  left: 15%;
}
/* line 26, article.scss */
html body.single .container #content article .entry .excerpt {
  display: none;
}
/* line 29, article.scss */
html body.single .container #content article .entry .body {
  width: 100%;
  float: left;
  display: block;
}
/* line 19, mixins.scss */
html body.single .container #content article .entry .body h3 {
  margin-bottom: 0.625em;
  padding-bottom: 0.625em;
  border-bottom: 1px solid;
  cursor: pointer;
  display: block;
}
/* line 24, mixins.scss */
html body.single .container #content article .entry .body .pane {
  display: none;
}
/* line 39, article.scss */
html body.single .container #shopping-info {
  width: 20%;
  margin: 0 0 0 0;
  float: left;
  display: block;
}
/* line 44, article.scss */
html body.single .container .product-scroller {
  display: none;
}
/* line 48, article.scss */
html body.single .container #sidebar {
  display: none;
}

/* Article on index page
*/
/* Blog */
/* line 68, article.scss */
html body .container #content article.list {
  width: 60%;
  height: 31em;
  margin: 0 0 5em;
  float: left;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
/* line 76, article.scss */
html body .container #content article.list header {
  position: relative;
  left: 105%;
  width: 70%;
  float: left;
}
/* line 82, article.scss */
html body .container #content article.list header h1 {
  padding-left: 0.313em;
}
/* line 88, article.scss */
html body .container #content article.list .entry .featured-image {
  text-align: center;
}
/* line 91, article.scss */
html body .container #content article.list .entry .featured-image img {
  max-height: 20em;
}
/* line 98, article.scss */
html body .container #content article.list .entry .shopping {
  position: relative;
  left: 105%;
  top: -3.75em;
  width: 70%;
  float: left;
}
/* line 105, article.scss */
html body .container #content article.list .entry .excerpt {
  position: relative;
  left: 105%;
  top: -25em;
  width: 70%;
  float: left;
}
/* line 118, article.scss */
html body .container #content .product-scroller.list {
  display: none;
}

/* Mixed */
/* line 133, article.scss */
html body .container #content article.mixed {
  width: 60%;
  height: 31em;
  margin-right: 2%;
  float: left;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
/* line 141, article.scss */
html body .container #content article.mixed header {
  position: relative;
  z-index: 1;
  top: 24.6em;
  background: #eee;
  opacity: .7;
}
/* line 148, article.scss */
html body .container #content article.mixed header h1 {
  padding-left: 0.313em;
}
/* line 153, article.scss */
html body .container #content article.mixed .entry {
  position: relative;
  top: -6.4em;
}
/* line 160, article.scss */
html body .container #content article.mixed .entry .shopping {
  position: relative;
  top: 6em;
  float: right;
  margin-right: 0.625em;
  z-index: 2;
  background: #eee;
  opacity: .7;
}
/* line 170, article.scss */
html body .container #content article.mixed .entry .excerpt {
  position: relative;
  top: 5em;
  padding-left: 0.625em;
}
/* line 181, article.scss */
html body .container #content article.mixed.not-first {
  width: 15%;
  height: auto;
  float: left;
  padding: 1%;
  margin: 0 2% 5% 0;
}
/* line 188, article.scss */
html body .container #content article.mixed.not-first header {
  display: none;
}
/* line 191, article.scss */
html body .container #content article.mixed.not-first .entry {
  top: 0;
}
/* line 194, article.scss */
html body .container #content article.mixed.not-first .entry .shopping {
  display: none;
}
/* line 197, article.scss */
html body .container #content article.mixed.not-first .entry .excerpt {
  display: none;
}
/* line 202, article.scss */
html body .container #content article.mixed.odd {
  margin-right: 0;
}
/* line 207, article.scss */
html body .container #content article.mixed.count-8,
html body .container #content article.mixed.count-9,
html body .container #content article.mixed.count-10 {
  display: none;
}
/* line 212, article.scss */
html body .container #content .product-scroller.mixed {
  font-size: 4em;
  position: relative;
  cursor: pointer;
  width: 10%;
  height: 0;
}
/* line 219, article.scss */
html body .container #content #product-scroll-left.mixed {
  left: 68%;
}
/* line 222, article.scss */
html body .container #content #product-scroll-right.mixed {
  left: 88%;
}

/* Large */
/* line 236, article.scss */
html body .container #content article.large {
  height: 40em;
  background: white;
  box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
  -webkit-box-shadow: 0 10px 25px -10px rgba(0, 0, 0, 0.698), 0 1px rgba(0, 0, 0, 0.1), 0 0 4px rgba(0, 0, 0, 0.1) inset;
}
/* line 240, article.scss */
html body .container #content article.large header {
  position: relative;
  z-index: 1;
  top: 33.6em;
  background: #eee;
  opacity: .7;
}
/* line 247, article.scss */
html body .container #content article.large header h1 {
  padding-left: 0.313em;
}
/* line 252, article.scss */
html body .container #content article.large .entry {
  position: relative;
  top: -2em;
}
/* line 260, article.scss */
html body .container #content article.large .entry .shopping {
  position: relative;
  top: -2.85em;
  float: right;
  margin-right: 0.625em;
  z-index: 2;
  background: #eee;
  opacity: .7;
}
/* line 270, article.scss */
html body .container #content article.large .entry .excerpt {
  position: relative;
  top: -1.25em;
  padding-left: 0.625em;
}
/* line 280, article.scss */
html body .container #content article.large.not-first {
  display: none;
}
/* line 284, article.scss */
html body .container #content .product-scroller.large {
  font-size: 4em;
  position: relative;
  top: -6em;
  cursor: pointer;
  width: 10%;
  height: 0;
}
/* line 292, article.scss */
html body .container #content #product-scroll-left.large {
  left: 1%;
}
/* line 295, article.scss */
html body .container #content #product-scroll-right.large {
  left: 96%;
}

/* Generally available settings
*/
/* line 23, screen.scss */
img {
  max-width: 100%;
  height: auto;
}
